In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Concatenate

df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],  
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
 })

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],  
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7'],
 })

In [ ]:
# Concatenate both DataFrames in the axis 0 (grow at rows)

pd.concat([df1, df2], ignore_index=True)    # --> Ignore index is used to re assign indexes

In [ ]:
# Merge

left = pd.DataFrame({
    'key': ['k0', 'k1', 'k2', 'k3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'], 
})

right = pd.DataFrame({
    'key': ['k0', 'k1', 'k2', 'k3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
})

In [ ]:
# Merge at axis 1 grow at columns

left.merge(right, on="key")       # --> first df is placed at left and last df is placed at right (on define common elements in both to prevent repeat)

In [ ]:
left = pd.DataFrame({
    'key': ['k0', 'k1', 'k2', 'k3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'], 
})

right = pd.DataFrame({
    'key_2': ['k0', 'k1', 'k2', 'k3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
})

left.merge(right, left_on='key', right_on='key_2')

In [ ]:
left = pd.DataFrame({
    'key': ['k0', 'k1', 'k2', np.nan],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'], 
})

right = pd.DataFrame({
    'key_2': ['k0', 'k1', 'k2', 'k3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
})

left.merge(right, left_on='key', right_on='key_2', how="outer")     # --> how is used to define mode to join ('left', 'right', 'inner', 'outer')

In [49]:
izq = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2'], 
}, index=['k0','k1','k2'])

der = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2'], 
}, index=['k0','k2','k3'])

izq.join(der, how='outer')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2